@media screen and (min-width: 640px) {
  header.hero-header,
  .hero-sect,
  .package-sect article,
  .cta-sect,
  .hero-footer {
    padding-inline: 3rem;
  }

  header.hero-header {
    padding-block: 0.8rem;
  }

  header .btn-menus {
    display: none;
  }

  header nav {
    position: static;
    padding: 0;
    transform: scaleY(1);
    opacity: 1;
    background: none;
    box-shadow: none;
  }

  header nav ul {
    flex-direction: row;
    gap: 1.5rem;
  }

  header nav ul li a {
    padding: 1px 0;
  }

  header nav ul li a:hover {
    background: none;
  }

  .hero-heading {
    font-size: 1.7rem;
    padding-inline: 11.7%;
  }

  main {
    padding-top: 3rem;
  }

  .content article.testimoni-buyer footer {
    padding-left: 2rem;
  }

  .content article.testimoni-buyer footer .comment-buyer {
    font-size: medium;
  }

  .btn-banner-prev,
  .btn-banner-next {
    width: 2rem;
    height: 2rem;
  }

  .btn-banner-next {
    right: 1rem;
  }

  .btn-banner-prev {
    left: 1rem;
  }

  .benefits {
    margin-top: 3.5rem;
  }

  .hero-heading-package,
  .title-cta {
    font-size: 1.5rem;
  }

  .benefits h2 {
    margin-bottom: 3rem;
  }

  .benefits h3.title-benefits {
    margin-top: 1.8rem;
  }

  .hero-heading-package {
    margin-bottom: 5rem;
    padding: 2.5rem 0;
  }

  .package-sect article {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .package p {
    margin-bottom: 0;
  }

  .cta-sect {
    margin-top: 4rem;
  }

  .text-benefits,
  .text-cta {
    font-size: 1rem;
  }

  .btn-cta {
    padding: 0.5rem 1rem;
  }

  footer.hero-footer {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 768px) {
  header.hero-header {
    padding-block: 1rem;
  }

  header .logo-wrapper {
    font-size: 12px;
  }

  header nav ul li a {
    font-size: medium;
  }

  .hero-heading {
    padding-inline: 19%;
    padding-top: 1rem;
  }

  .content-wrapper {
    flex-direction: row;
    gap: 1.45rem;
    margin-top: 3.5rem;
  }

  .content article.testimoni-buyer footer {
    padding-left: 1.3rem;
  }

  .content-wrapper .content {
    flex: 1 1 70%;
  }

  .line {
    width: 130px;
  }

  .content-wrapper .contact-us {
    flex: 1 1 30%;
    height: max-content;
    padding-inline: 0.8rem;
    padding-block: 1rem;
    margin-top: 0;
  }

  .contact-us form {
    margin-top: 0;
  }

  form > h2 {
    margin-bottom: 0.8rem;
  }

  form .text-contact {
    font-size: smaller;
  }

  .package-sect {
    margin-top: 1rem;
    padding-top: 3.5rem;
  }

  .hero-heading-package {
    padding: 3rem 0;
    margin-bottom: 6rem;
  }

  .package .icon-package img {
    width: 2.5rem;
    height: 2.5rem;
    padding: 7px;
  }

  .cta-sect {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  header.hero-header,
  .hero-sect,
  .package-sect article,
  .cta-sect,
  .hero-footer {
    padding-inline: 5rem;
  }

  header.hero-header {
    padding-block: 1rem;
  }

  header nav ul {
    gap: 1.9rem;
  }

  .hero-heading {
    font-size: xx-large;
  }

  .sub-heading {
    font-size: 0.9rem;
  }

  .benefits h2,
  form > h2 {
    font-size: x-large;
  }

  form > h2 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  form .text-contact {
    font-size: 0.9rem;
  }

  .text-benefits {
    font-size: 1rem;
  }

  .hero-heading-package {
    font-size: 2rem;
  }

  .package-sect {
    margin-top: 1.5rem;
    padding-top: 4.4rem;
  }

  .package-sect article {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  header.hero-header,
  .hero-sect {
    padding-inline: 7rem;
  }

  .hero-heading {
    padding-inline: 26.82%;
    padding-top: 2rem;
  }

  .content-wrapper {
    margin-top: 4.5rem;
  }

  form .text-contact {
    font-size: 0.92rem;
  }
}
